.app {
    background: rgb(67,67,67);
    background: linear-gradient(212deg, rgba(67,67,67,1) 23%, rgba(0,0,0,1) 82%);

    padding: 20px 100px;
}

.nav {
    margin: auto;
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    
    a{
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: overline;
        color: white
    }
}

.moon-icon {
    position: absolute;
    right: 5%;
    width: 9%;
}

.carousel {
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
    .carousel-indicators {
        display: none;
    }

}

.carousel::before {
    content:"";
    background-image: url('../images/cloudOne.png');
    height: 30%;
    width: 20%;
    position: absolute;
    top: 60px;
    right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 3;

    animation: mymove 10s ease-in-out infinite;
    animation-direction: alternate;
    @keyframes mymove {
        from { right: 20px}
        to { right: 60px}
    }
}

.joinNow {
    border: none;
    margin: auto;
    display: flex;
    color: white;
    background: teal;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}
.joinNow:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

//Store.js
.store-wrapper{
    padding-bottom: 128px;
    .storeNav{
      background: #ECF6FA;
      padding: 75px 150px 0px;
        margin-top: 25px;
      background-image: url(/images/cloud_large.png), url(/images/cloud_large.png);
      background-repeat: no-repeat;
      background-size: 311px auto, 175px auto;
      // width: 100%;
      background-position: left;
      animation: blogmove 16s ease-in-out infinite;
      animation-direction: alternate;
      @keyframes blogmove {
        from { background-position: 40% 33px, 80% 44px;}
        to { background-position: 30% 33px, 70% 44px; }
      }
      .navContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // max-width: 1110px;
        margin: auto;
        h4{
          font-family: 'Hind';
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          color: #242424;
          margin-bottom: 0;
        }
        .dropdownMenu {
          display: none;
        }
        .storeLinks{
          span{
            margin-left: 40px;
            font-family: 'Hind';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #242424;
            cursor: pointer;
          }
          .active-tab{
            padding-bottom: 5px;
            border-bottom: 2px solid teal;
            color: teal;
          }
        }
      }
    }
    .storeList{
        padding: 63px 0px;
        max-width: 1440px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .article-wrapper {
        //   margin: auto;
          // justify-content: space-between;
          display: flex;
          flex-wrap: wrap;
        }
        .blog-articles {
          margin-bottom: 64px;
            display: flex;
            flex-direction: column;
            // width: 31%;
            // margin-left: 12px;
            // margin-right: 12px;
          .mainImg{
            width: 100%;
            margin-bottom: 18px;
          }
          .title{
            font-family: 'Hind';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            margin-top: 12px;
            margin-bottom: 14px;
            text-decoration: none;
            color: #242424;
            line-height: 40px;
            cursor: pointer;
          }
          .title:hover{
            text-decoration-line: underline;
            color: teal;
            cursor: pointer;
          }
          .clock{
            display: flex;
            align-items: center;
          }
          .buyNow{
            background-color: teal;
            color: white;
            margin-top: 20px;
          }
          .dateLine{
            background-color: #EDEDED;
            height: 16px;
            width: 1px;
            margin: 0 8px;
          }
          .date, .time {
            font-family: 'Hind';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 14px;
            color: #6E6E6E;
          }
          .authorDiv{
            margin-top: 20px;
          }
          .authImg {
            margin-right: 8px;
            border-radius: 50%;
            height: 32px;
          }
          .tags{
            font-family: 'Hind';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            text-transform: capitalize;
            color: teal;
            padding: 5px 8px;
            background: rgba(230, 0, 119, 0.02);
            border-radius: 2px;
            width: max-content;
          }
        }
      }
    }
    @media only screen and (max-width: 1281px) {
        .store-wrapper .storeList .store-articles {
          margin-bottom: 64px;
          display: flex;
          flex-direction: column;
          width: 30%;
          margin-left: 12px;
          margin-right: 12px;
        }
      }
      @media only screen and (max-width: 1281px) {
        .store-wrapper .storeList .store-articles {
          margin-bottom: 64px;
          display: flex;
          flex-direction: column;
          width: 29%;
          margin-left: 12px;
          margin-right: 12px;
        }
      }
      @media only screen and (max-width: 1227px) {
        .store-wrapper {
          .tabButton {
            max-width: 1110px;
            margin: auto;
            padding: 0 20px;
          }
          .storeList {
            padding: 63px 126px;
            max-width: 1410px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
        }
      }
      @media only screen and (max-width: 1102px) {
        .store-wrapper {
      
          .storeList {
            padding: 63px 126px;
            max-width: 1260px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
        }
      }
      @media only screen and (max-width: 1000px) {
        .store-wrapper .featureList .feature-articles {
          display: flex;
          margin: auto;
          flex-direction: column-reverse;
          justify-content: space-between;
          max-width: 840px;
          padding-top: 64px;
          padding-bottom: 65px;
          .img {
            align-self: unset;
          }
        }
        .store-wrapper .featureList {
          padding: 0 75px;
        }
        .store-wrapper .storeNav{
          padding: 154px 75px 29px;
          .storeLinks {
            display: none;
          }
        }
        .store-wrapper .storeNav .navContent .dropdownMenu {
          display: flex;
        }
        .store-wrapper .storeList {
          padding: 63px 60px;
        }
      }
      @media only screen and (max-width: 768px) {
        .store-wrapper .storeList .store-articles {
          margin-bottom: 64px;
          display: flex;
          flex-direction: column;
          width: 43%;
        }
      }
      @media only screen and (max-width: 500px) {
        .store-wrapper .featureList {
          padding: 0 20px;
        }
        .store-wrapper .storeNav{
          padding: 154px 20px 29px;
          .storeLinks {
            display: none;
          }
        }
        .store-wrapper .storeList {
          padding: 20px 20px;
          justify-content: center;
        }
        .store-wrapper .storeList .store-articles {
          margin-bottom: 64px;
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }

// Contact.js
.containery{
	position: relative;
	// width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 75px 0px;
  margin: auto;
}

.containery:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(../images/invest.jpg) no-repeat center;
	filter: blur(50px);
	z-index: -1;
}
.contact-boxy{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.lefty{
	background: url(../images/invest.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
}

.righty{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: teal;
}

.field{
	width: 90%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.contact_btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background: teal;
    color: white;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-boxy{
		grid-template-columns: 1fr;
	}
	.lefty{
		height: 200px;
	}
}

// Pricing Table
.price_wrapper {
    width: 900px;
    margin: 150px auto 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .single-price {
        width: 33%;
        // background: gray;
        color: white;
        margin-top: 2%;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
        text-align: center;
        transition: 0.9s; 

        h1 {
            font-size: 18px;
            color: #fff;
            line-height: 3;
            text-transform: uppercase;
        }

        .price {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 2px solid teal;
            margin: 5% auto 0 auto;
            text-align: center;

            h3 {
                font-size: 38px;
                color: #fff;
                margin-top: revert;
            }
        }

        .deals {
            margin-top: 10%;

            h4 {
                font-size: 14px;
                font-weight: normal;
                text-align: center;
                color: #fff;
                line-height: 1;
            }
        }

        a {
            text-decoration: none;
            background: teal;
            color: #fff;
            padding: 10px 60px;
            display: inline-block;
            margin: 10% auto;
            text-transform: uppercase;
            font-weight: bold;
        }
        a:hover {
            background: white !important;
            color: teal;
        }
    }

    .single-price:hover {
        background: teal;
        color: #fff;
        box-shadow: 0 0 15px rgba(0,0,0,1);
        transform: scale(1.1);
        z-index: 1;
        border-radius: 25px;

        .price {
            border-color: #fff;
        }

        a {
            background: black;
        }
    }
}
@media only screen and (max-width: 1130px) {
    .price_wrapper {
        width: 100%;

    }
}

//Newsletter.js
.news_wrapper {
  box-shadow: 1px 1px 20px rgb(0 0 0 / 50%);
  width: 50%;
  margin: auto;
  padding: 20px;

  h4 {
    color: white;
    display: flex;
    justify-content: center;
  }

  form {
    text-align: center;
    margin-top: 20px;

    .input {
      padding: 5px;
      width: 33%;
      margin: 0 10px;
    }

    .submitBtn {
      border: none;
      margin: auto;
      margin-top: 20px;
      display: flex;
      color: white;
      background: teal;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 18px;
    }
    .submitBtn:hover {
      color: rgba(255, 255, 255, 1);
      box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }
  }
}

//Abous.js
.about_wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: auto;
  margin-top: 150px;

  .img {
    width: 35%;

    img {
      width: 100%;
      opacity: 0.6;
      border-radius: 5%;
    }
  }

  .about {
    width: 35%;

    h2 {
      text-align: center;
      color: white;
    }

    p {
      color: white;
    }
  }
}

//Special.js
.special_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  max-width: 1440px;
  margin: auto;
  margin-top: 150px;

  .img {
    width: 35%;

    img {
      width: 100%;
      opacity: 0.9;
      border-radius: 5%;
    }
  } 

  .special {
    width: 35%;

    h2 {
      text-align: center;
      color: white;
    }

    p {
      color: white;
    }
  }
}

// Features.js
.features_wrapper {
  margin: 150px 0;
  color: white;

  h2{
    text-align: center;
    margin-bottom: 40px;
  }

  .feature_list {
    display: flex;
    max-width: 1140px;
    margin: auto;
    justify-content: space-between;

    .feature {
      max-width: 500px;

      .img{
        width: 48px;

        img{
          width: 100%;
          margin: 10px 0;
        }
      }

      .block {

      }
    }
  }
}